src/com/xml/tutorial/note.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
targetNamespace="http://example.com" xmlns="http://example.com"
            elementFormDefault="qualified">

  <xsd:element name="note">
      <xsd:complexType>
          <xsd:sequence>
              <xsd:element name="to" type="xsd:string"></xsd:element>
              <xsd:element name="from" type="xsd:string"></xsd:element>
              <xsd:element name="heading" type="xsd:string"></xsd:element>
              <xsd:element name="body" type="xsd:string"></xsd:element>
          </xsd:sequence>
      </xsd:complexType>
  </xsd:element>

</xsd:schema>